[submodule "E121-2019F"]
	path = E121-2019F
	url = https://github.com/MAPReiff/E121-2019F
[submodule "E115-2019F"]
	path = E115-2019F
	url = https://github.com/MAPReiff/E115-2019F
[submodule "CPE390-2021S"]
	path = CPE390-2021S
	url = https://github.com/MAPReiff/CPE390-2021S
[submodule "E232-2021S"]
	path = E232-2021S
	url = https://github.com/MAPReiff/E232-2021S
[submodule "CPE360-2021S"]
	path = CPE360-2021S
	url = https://github.com/MAPReiff/CPE360-2021S
[submodule "CPE322-2022S"]
	path = CPE322-2022S
	url = https://github.com/MAPReiff/CPE322-2022S
[submodule "CPE345-2022S"]
	path = CPE345-2022S
	url = https://github.com/MAPReiff/CPE345-2022S
[submodule "CPE462-2022S"]
	path = CPE462-2022S
	url = https://github.com/MAPReiff/CPE462-2022S
[submodule "CPE462-PedestrianSystem-2022S"]
	path = CPE462-PedestrianSystem-2022S
	url = https://github.com/MAPReiff/CPE462-PedestrianSystem-2022S
[submodule "CS615-2022S"]
	path = CS615-2022S
	url = https://github.com/MAPReiff/CS615-2022S
[submodule "CS615-CTF-2022S"]
	path = CS615-CTF-2022S
	url = https://github.com/MAPReiff/CS615-CTF-2022S
[submodule "CPE551-2022F"]
	path = CPE551-2022F
	url = git@github.com:MAPReiff/CPE551-2022F.git
[submodule "CPE487-2022F"]
	path = CPE487-2022F
	url = git@github.com:MAPReiff/CPE487-2022F.git
[submodule "CPE521-2022F"]
	path = CPE521-2022F
	url = git@github.com:MAPReiff/CPE521-2022F.git
